<section class="container">
	<h1>About</h1>
	<p>Sono un software developer con tanta voglia di imparare. Ho un background Java, ed una seniority di 3 anni su codesto linguaggio. Ultimamente mi sono avvicinato ad Angular, ho seguito dei corsi e sviluppato un sito. Ora, invece, sto studiando Ruby on Rails. Questa è una webapp che sto facendo a scopo didattico, per approfondire, oltre Ruby, argomenti com Bash, Materialize, GIT e GitHub.</p>
</section>