<h1>About</h1>
<p>Sono software developer con tanta voglia di imparare. Ho un background Java, ultimamente mi sono avvicinato ad Angular ed ora sto studiando Ruby on Rails. Questa è una webapp che sto facendo a scopo didattico, per approfondire, oltre Ruby, argomenti com Bash, GIT e GitHub.</p>